{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    {#    <link rel="stylesheet" href="{% static 'assets/bower_components/bootstrap/dist/css/bootstrap.css' %}">#}
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-responsive.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/jsKeyboard.css" %}" type="text/css" media="screen"/>

    <script src="{% static "assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
</head>
<body>


<div style="text-align:center;" class="container-fluid">
    <div class="row" style="background:black;color:white;font-size:1.5em;padding:10px;">
        REGISTRATION
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:20px;">
{#            <h1>The quick brown fox jumps over the lazy dog</h1>#}
            <h3>Enter keyword below</h3>
            <input type="text" id="replacehere" class="form-control" style="width:90%;font-size:2em;padding:10px;"/>
        </div>
    </div>


</div>
<div id="keyboardContainer" style="position:fixed;top:1204px;">
    <div style="width:100%;">
        <img id="keyboardPic" src='{% static 'assets/img/iOSlow.jpg' %}' width="100%"/>
    </div>
</div>

{% csrf_token %}
<script src="{% static "assets/bower_components/jquery/dist/jquery.js" %}"></script>
<script src="{% static "assets/bower_components/lodash/lodash.js" %}"></script>
{#<script src="{% static 'js/vendor/jquery-1.9.1.min.js'%}"></script>#}

<script src="{% static "assets/js/vendor/bootstrap.min.js" %}"></script>
{#<script type="text/javascript" src="{% static "assets/js/jsKeyboard.js" %}"></script>#}
<script src="{% static "assets/js/main.js" %}"></script>
<script>
    var _gaq = [['_setAccount', 'UA-11577561-5'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>